<h1>Wikis#edit</h1>
<%= form_for @wiki do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control', placeholder: "Enter wiki name" %>
  </div>

 
  <div class="form-group">
    <%= f.label :body %>
    <div id="epiceditor">
      <%= f.text_area :body, class: 'form-control', placeholder: "Enter wiki description" %>
    </div>
  </div>
  

  <% if (@wiki.user.id == current_user.id && current_user.premium?) || current_user.admin? %>
    <div class="form-group">
      <%= f.label :private, class: 'checkbox' do %>
        <%= f.check_box :private %> Private wiki
      <% end %>
    </div>
  <% end %> 
  <%= f.submit "Save", class: 'wiki-edit-save' %>
<% end %>

  <% if (@wiki.private? && @wiki.user == current_user) || current_user.admin? %>
    <div class="available-users">
      </br>
      <label>Available Users:</label>
        <%= render partial: 'collaborations/add_collaborators', locals: { users: @users } %>
    </div>
    <div class="collaborators">
      </br>
      <label>Collaborators:</label>
        <%= render partial: 'collaborations/collaborators', locals: { wiki: @wiki } %>
    </div>
  <% end %>

<script>
  var editor = new EpicEditor({
    theme: {      
      editor: '<%= asset_path 'editor/epic-light.css' %>',
      preview: '<%= asset_path 'preview/bartik.css' %>'
    }
    , focusOnLoad: true
  }).load(function () {
  console.log("Editor loaded.")});
</script>
