<h1>Wikis#index</h1>
<% if current_user.present? %>
  <%= link_to "New Wiki", new_wiki_path %>
<% end %>  
<% @wikis.each do |wiki| %>
  <div class="media">
    <div class="media-body">
      <% if current_user.present? && (current_user.premium? || current_user.admin?) %>
        <h4 class="media-heading">
 <!-- #8 -->        
          <% if wiki.user %>
            <%= link_to wiki.title, wiki %> -Created by&nbsp;<%= wiki.user.email %>
          <% else %>
            <%= link_to wiki.title, wiki %> -Created by non-user
          <% end %>        
        </h4>
        <small>
          <%= markdown(wiki.body) %>
        </small>
      <% else %>
        <% if wiki.private == false %>
          <h4 class="media-heading">
            <% if wiki.user %>
              <%= link_to wiki.title, wiki %> -Created by&nbsp;<%= wiki.user.email %>
            <% else %>
              <%= link_to wiki.title, wiki %> -Created by non-user
            <% end %>
          </h4>        
          <small>
            <%= markdown(wiki.body) %>
          </small>
        <% end %>  
      <% end %>          
    </div>
  </div>
<% end %>
